{{include("nav.html")}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<div class="row bataille ajax-load">
	<h2 class="rouge">Vous devez avoir Javascript d'activé pour pouvoir jouer à Ruined World</h2>
</div>

{{ include("js/batiment/batiment.html") }}
{{ include("js/rafraichir_ressource.html") }}

{% if loaded_ajax != "true" %}
<script>
    $(".ajax-load").html("");
	
	var width = $(window).width();
	
	if (width >= 1500) {
	    var page_load = "large-screen";
	}
	else {
        var page_load = "small-screen";
	}
	
    $.ajax({
        method: "POST",
        data: "loaded_ajax=true",
        url:"{{WEBROOT}}bataille/map-game/"+page_load,
        success: function(data){
            $(".ajax-load").html(data);
        }
    });
</script>
{% endif %}