{{include("nav.html")}}
<div class="row bataille">
	<div class="small-12 medium-3 large-3 columns">
		<div class="row side-bar">
			<h3>Construction en cours</h3>
			{{bataille.nom_batiment_construction}}<br>

			<div id="defaultCountdown"></div>
		</div>
	</div>
	<div class="small-12 medium-6 large-6 columns">
		<h2>Batiments</h2>

		{% for i in bataille.batiments %}
			<a href="#" class="open-popup" popup="popup-base" emplacement="{{i.emplacement}}" nom_batiment="{{i.nom_batiment}}" nom_batiment_sql="{{i.nom_batiment_sql }}">
				{{i.nom_batiment}} {{i.niveau}}
			</a><br>
		{% endfor %}
	</div>
	<div class="small-12 medium-3 large-3 columns">
		{% if bataille.recrutement is iterable %}
			<div class="row">
				<div class="small-12 side-bar">
					<h3>Unités en recrutement</h3>
					{% for i in bataille.recrutement %}
						<div>
							<div id="recrutement-{{ i.id_recrutement }}"></div>
							<p>{{ i.nom }} {{ i.type }} {{ i.nombre }}</p>

							{{ include("js/recrutement_caserne.html") }}
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="espacement"></div>
		{% endif %}

		<div class="row">
			<div class="small-12 side-bar">
				<h3>Unités</h3>
				{% for key,i in bataille.unites %}
					<h4>{{ key }}</h4>
					{% for j in i %}
						<p>{{ j.nom }} {{ j.nombre }}</p>
					{% endfor %}
				{% endfor %}
			</div>
		</div>

		<div class="espacement"></div>

		<div class="row">
			{% if bataille.marche_envoyer is iterable %}
				<div class="small-12 side-bar">
					<h3>Transport marchandises envoyées</h3>

					{% for i in bataille.marche_envoyer %}
						<div>
							<div id="transport-{{ i.id_marche_transport }}"></div>

							{% if (i.aller == 1) %}
								<p>Sur l'aller à : {{ i.nom_base_dest }}</p>
							{% else %}
								<p>Sur le retour de : {{ i.nom_base_dest }}</p>
							{% endif %}
							{{ include("js/transport_marche.html") }}
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{% if bataille.marche_recevoir is iterable %}
				<div class="small-12 side-bar">
					<h3>Transport marchandises à recevoir</h3>

					{% for i in bataille.marche_recevoir %}
						<div>
							<div id="transport-{{ i.id_marche_transport }}"></div>

							{% if (i.aller == 1) %}
								<p>qui arrive de : {{ i.nom_base_dest }}</p>
							{% endif %}
							{{ include("js/transport_marche.html") }}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{{ include("js/batiment.html") }}
<script src="{{MODULEWEBROOT}}bataille/app/views/js/jquery.plugin.min.js"></script>
<script src="{{MODULEWEBROOT}}bataille/app/views/js/jquery.countdown.js"></script>
{{ include("js/construire_batiment.html") }}
{{ include("js/rafraichir_ressource.html") }}