{{include("nav.html")}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<div class="row bataille">
	<div class="small-12 medium-2 large-2 columns">
		<div class="row side-bar">
			<h3>Construction en cours</h3>
			{{bataille.nom_batiment_construction}}<br>

			<div id="defaultCountdown"></div>
		</div>

		<div class="espacement"></div>

		<div class="row side-bar">
			<a href="#" id="afficher-grille">Afficher la grille</a>

			<div class="liste-batiments">
				{% for i in bataille.batiments_construire %}
					<div class="un-batiment draggable" style="width:{{ i.width }}px;height:{{ i.height }}px;">
						<a href="#" class="open-popup" popup="popup-base" taille="{{i.nom_batiment_sql}}-120-60"  nom_batiment="{{i.nom_batiment}}" nom_batiment_sql="{{i.nom_batiment_sql }}">
							{{i.nom_batiment}} {{i.niveau}}
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="small-12 medium-8 large-8 columns">
		<div class="map-game">
			{% for i in bataille.batiments %}
				<div class="un-batiment {{ i.construction }}" style="left:{{ i.posx }}px;top:{{ i.posy }}px;width:{{ i.width }}px;height:{{ i.height }}px;">
					<a href="#" class="open-popup" popup="popup-base" posy="{{ i.posx }}" posx="{{ i.posx }}" nom_batiment="{{i.nom_batiment}}" nom_batiment_sql="{{i.nom_batiment_sql }}">
						{{i.nom_batiment}} {{i.niveau}}
					</a>
				</div>
			{% endfor %}

			<div class="cases">
				{% for j in 0..((545/20)-1) %}
					{% for i in 0..((1164/20)-1) %}
						<div class="case" id="case-{{i*20}}-{{j*20}}" style="left:{{i*20}}px;top:{{j*20}}px;"></div>
					{% endfor %}
				{% endfor %}
			</div>

		</div>
	</div>
	<div class="small-12 medium-2 large-2 columns">
		{% if bataille.recrutement is iterable %}
			<div class="row">
				<div class="small-12 side-bar">
					<h3>Unités en recrutement</h3>
					<div class="recrutement-unites">
						{% for i in bataille.recrutement %}
							<div>
								<div id="recrutement-{{ i.id_recrutement }}"></div>
								<p>{{ i.nom }} {{ i.type }} {{ i.nombre }}</p>

								{{ include("js/recrutement_caserne.html") }}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>

			<div class="espacement"></div>
		{% endif %}

		<div class="row">
			<div class="small-12 side-bar">
				<h3>Unités</h3>
				{% for key,i in bataille.unites %}
					<h4>{{ key }}</h4>
					{% for j in i %}
						<p>{{ j.nom }} {{ j.nombre }}</p>
					{% endfor %}
				{% endfor %}
			</div>
		</div>

		<div class="espacement"></div>

		<div class="row">
			{% if bataille.marche_envoyer is iterable %}
				<div class="small-12 side-bar">
					<h3>Transport marchandises envoyées</h3>

					{% for i in bataille.marche_envoyer %}
						<div>
							<div id="transport-{{ i.id_marche_transport }}"></div>

							{% if (i.aller == 1) %}
								<p>Sur l'aller à : {{ i.nom_base_dest }}</p>
							{% else %}
								<p>Sur le retour de : {{ i.nom_base_dest }}</p>
							{% endif %}
							{{ include("js/transport_marche.html") }}
						</div>
					{% endfor %}
				</div>
			{% endif %}

			{% if bataille.marche_recevoir is iterable %}
				<div class="small-12 side-bar">
					<h3>Transport marchandises à recevoir</h3>

					{% for i in bataille.marche_recevoir %}
						<div>
							<div id="transport-{{ i.id_marche_transport }}"></div>

							{% if (i.aller == 1) %}
								<p>qui arrive de : {{ i.nom_base_dest }}</p>
							{% endif %}
							{{ include("js/transport_marche.html") }}
						</div>
					{% endfor %}
				</div>
			{% endif %}
		</div>
	</div>
</div>

{{ include("js/map-game.html") }}
{{ include("js/batiment.html") }}
<script src="{{MODULEWEBROOT}}bataille/app/views/js/jquery.plugin.min.js"></script>
<script src="{{MODULEWEBROOT}}bataille/app/views/js/jquery.countdown.js"></script>
{{ include("js/construire_batiment.html") }}
{{ include("js/rafraichir_ressource.html") }}