<link rel="stylesheet" type="text/css" href="{{LIBSWEBROOT}}popup/css/style.css">
<script src="{{LIBSWEBROOT}}popup/js/popup.js"></script>
<link rel="stylesheet" type="text/css" href="{{MODULEWEBROOT}}bataille/app/views/css/style.css">

<div class="bataille">
	<header>
		<nav class="top">
			<div class="row">
				<ul class="right">
					<li><a href="{{WEBROOT}}bataille/aide">Aide</a></li>
					<li><a href="{{WEBROOT}}bataille">Version 0.1</a></li>
					<li><a href="{{WEBROOT}}bataille">Déconnexion</a></li>
				</ul>
			</div>
		</nav>

		<nav class="middle">
			<div class="row">
				<ul class="right">
					<ul>
						<li><a href="{{WEBROOT}}messagerie"><img src="{{MODULEWEBROOT}}bataille/app/views/images/messagerie.png" alt=""></a></li>
						<li><a href=""><img src="{{MODULEWEBROOT}}bataille/app/views/images/carte.png" alt=""></a></li>
						<li><a href=""><img src="{{MODULEWEBROOT}}bataille/app/views/images/classement.png" alt=""></a></li>
					</ul>
				</ul>
			</div>
		</nav>

		<div class="row">
			<div class="small-12 medium-9 large-9 columns medium-centered">
				<div class="row ressources">
					<div class="small-12 medium-5 large-5 columns gauche">
						<div class="row">
							<div class="small-12 medium-6 large-6 columns">
								<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/eau.png" alt=""></div>
								<div class="texte">
									<span class="{{bataille.max_eau}}">{{bataille.eau}} </span> (+{{bataille.production_eau}})
								</div>
							</div>
							<div class="small-12 medium-6 large-6 columns">
								<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/electricite.png" alt=""></div>
								<div class="texte">
									<span class="{{bataille.max_electricite}}">{{bataille.electricite}} </span>(+{{bataille.production_electricite}})
								</div>
							</div>
						</div>
					</div>
					<div class="small-12 medium-2 large-2 columns nom-base">
						<h3 class="text-center">{{bataille.nom_base}}</h3>
					</div>
					<div class="small-12 medium-5 large-5 columns droite">
						<div class="small-12 medium-6 large-6 columns">
							<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/fer.png" alt=""></div>
							<div class="texte">
								<span class="{{bataille.max_fer}}">{{bataille.fer}}</span> (+{{bataille.production_fer}})
							</div>
						</div>
						<div class="small-12 medium-6 large-6 columns">
							<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/fuel.png" alt=""></div>
							<div class="texte">
								<span class="{{bataille.max_fuel}}">{{bataille.eau}} </span>(+{{bataille.production_fuel}})
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>

<div class="popup" id="popup-base">
	<div class="content">
		<div id="ajax">

		</div>

		<div class="lien">
			<a class="annuler">Annuler</a>
			<a href="" class="valider" id="config-suppress-ajax">Valider</a>
		</div>
		<div class="clear"></div>
	</div>
</div>

{{ include("js/batiment.php") }}