{%  set nom_batiment_sql = bataille.nom_batiment_sql %}
<div class="popup-batiment">
	<div class="row">
		<div class="small-12 large-6 columns">
			<img src="{{ MODULEWEBROOT }}bataille/app/views/images/{{ bataille.nom_batiment_sql }}.svg">
		</div>
		<div class="small-12 large-6 columns">
			<h2>{{ nom_batiment }}</h2>
			
			{% if nom_batiment in ["marche","ambassade","centre de recherche","caserne"] %}
				{%  set url%}popup/{{ bataille.nom_batiment_sql }}/nav.html{% endset %}
				{% include(url)%}
			{% endif %}

			<h3>Caractéristiques actuelles</h3>
			<ul>
				<li>Niveau : {{ bataille.niveau_batiment }}</li>
				<li>{{ bataille.info_batiment }}</li>
			</ul>

		</div>
	</div>
	<div class="row next-lvl">
		{% if bataille.max_level >=0 and bataille.max_level < 2 %}
			<h3>Caractéristiques au niveau suivant</h3>
			<ul>
				<li>Niveau : {{ bataille.niveau_batiment+1 }}</li>
				<li>{{ bataille.info_batiment_next }}</li>
			</ul>


			<h3>Cout pour le prochain niveau</h3>
			<ul class="ressources">
				<li>
					<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/eau.png" alt=""></div>
					<div class="texte">
						eau : <span class="{{bataille.ressource.eau.class}}">{{bataille.ressource.eau.ressource}}</span>
					</div>
				</li>
				<li>
					<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/electricite.png" alt=""></div>
					<div class="texte">
						électricité : <span class="{{bataille.ressource.electricite.class}}">{{bataille.ressource.electricite.ressource}}</span>
					</div>
				</li>
				<li>
					<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/fer.png" alt=""></div>
					<div class="texte">
						fer : <span class="{{bataille.ressource.fer.class}}">{{bataille.ressource.fer.ressource}}</span>
					</div>
				</li>
				<li>
					<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/fuel.png" alt=""></div>
					<div class="texte">
						fuel : <span class="{{bataille.ressource.fuel.class}}">{{bataille.ressource.fuel.ressource}}</span>
					</div>
				</li>
				<li>
					<div class="left"><img src="{{ MODULEWEBROOT }}bataille/app/views/images/temps.png" alt=""></div>
					<div class="texte">
						Temps de construction : {{bataille.temps_construction}}
					</div>
				</li>
			</ul>
			
			<div class="clear"></div>

			{% if bataille.niveau_batiment > 0 %}
				<a nom_batiment="{{ nom_batiment }}"
				   nom_batiment_sql="{{ bataille.nom_batiment_sql }}"
				   class="construire {{bataille.ressource.fer.class}} {{bataille.ressource.fuel.class}} {{bataille.ressource.eau.class}}
			   {{bataille.ressource.electricite.class}}"
				   href="">Améliorer le bâtiment
				</a>
			{% endif %}
		{% else %}
			<!-- partie quand le batiment est au lvl max -->
			<p>Le batiment a atteint son niveau maxiumum</p>
		{% endif %}
	</div>
</div>

{{ include("js/construire_batiment.html") }}