<script>
	$(document).ready(function() {
		$(".caserne a#recruter").click(function() {
			var nombre_recruter = $(this).parent().find(".nombre-recruter").val();
			var type = $(this).parent().find(".type").val();
			var nom = $(this).parent().find(".nom").val();

			if (nombre_recruter != "") {
				$.ajax({
					type:"POST",
					data: "nombre_recruter="+nombre_recruter+"&type="+type+"&nom="+nom,
					url:"{{WEBROOT}}controller/modules/bataille/unites/recruter",
					success: function(data){
						if (data == "ok") {
							location.reload();
						}
						else {
							$("body").prepend(data);
						}
						console.log(data);
					}, error: function(){

					}
				});
			}
		});
	});
</script>