<script>
	$(document).ready(function() {
		$(".centre_recherche a.rechercher").click(function() {
			var recherche = $(this).parent().find(".recherche").val();
			var type = $(this).parent().find(".type").val();

			if (recherche != "") {
				$.ajax({
					type:"POST",
					data: "loaded_ajax=true&recherche="+recherche+"&type="+type,
					url:"{{WEBROOT}}controller/modules/bataille/centre_recherche/rechercher",
					success: function(data){
						if (data == "ok") {
							//location.reload();
							$.ajax({
								type:"POST",
                                data: "loaded_ajax=true",
								url: "{{WEBROOT}}bataille/popup/centre_recherche/liste-recherche",
								success: function(data){
									$("#popup-base #ajax").empty();
									$("#popup-base #ajax").append(data);
								}, error: function(){
								}
							});
						}
						else {
							$("body").prepend(data);
						}
					}, error: function(){

					}
				});
			}
		});
	});
</script>

{% if bataille.recherche is iterable %}
	<script>
		$(function () {
			$('#decompte-recherche').countdown({
				until: {{bataille.recherche.date_fin_recherche}},
				onExpiry: setTerminerRecherche
			});
		});

		function setTerminerRecherche() {
			$.ajax({
				type:"POST",
				url:"{{WEBROOT}}controller/modules/bataille/centre_recherche/get_recherche",
				success: function(data){
					$.ajax({
						type:"POST",
						data: "loaded_ajax=true",
						url: "{{WEBROOT}}bataille/popup/centre_recherche/liste-recherche",
						success: function(data){
							$("#popup-base #ajax").empty();
							$("#popup-base #ajax").append(data);
							$(".decompte-recherche").remove();
						}, error: function(){
						}
					});
				}, error: function(){

				}
			});
		}
	</script>
{% endif %}