<script>
	$(document).ready(function() {
		$("#login-form").submit(function(e) {
		    console.log($("#login-form #standard").val())
			if ($("#login-form #vacances").val() != "desactiver" && $("#login-form #standard").val() != "true") {
                e.preventDefault();
                $.ajax({
                    type:"POST",
                    data: $(this).serialize(),
                    url:"{{WEBROOT}}controller/modules/bataille/auth/login_ajax",
                    success: function(data){
                        if (data == "ok") {
                            $("#login-form #standard").val("true");
    
                            $("#login-form").submit();
                        }
                        else if (data == "popup") {
                            $("#popup-vacances").addClass("visible");
                        }
                        else {
                            $("body").prepend(data);
                        }
                    }
                });
			}
		});
		
		$(".popup a.valider").click(function(e) {
		    e.preventDefault();
            
            $("#login-form #vacances").val("desactiver");
            $("#login-form #standard").val("true");
            
            $("#login-form").submit();
		})
	});
</script>