<script>
    $(document).ready(function() {
        //var pour le batiment qu'on est en trainde drag
        var batiment;
        var nom_batiment;
        var nom_batiment_sql;

        /**
         * fonction qui permet d'afficher ou de masquer la grille de la map
         */
        $(".bataille #afficher-grille").click(function(e) {
            e.preventDefault();

            $(".bataille .map-game .cases").toggleClass("visible");

            if ($(".bataille .map-game .cases").hasClass("visible")) {
                $(this).html("Masquer la grille");
            }
            else {
                $(this).html("Afficher la grille");
            }
        });


        //------------------------------------------- DRAG AND DROP D'UN BATIMENT ------------------------------------//
        $(".liste-batiments .un-batiment").draggable({
            grid: [20, 20],
            snap: ".case",
            revert: "invalid",
            cursorAt: { top: -5, left: 0},
            start: function(event, ui) {
                nom_batiment = $(this).find("a").attr("nom_batiment");
				nom_batiment_sql = $(this).find("a").attr("nom_batiment_sql");
				batiment = $(this).find("a").attr("id", nom_batiment_sql);
				$(".bataille .map-game .case").toggleClass("visible");
            },
            stop: function() {
                $(".bataille .map-game .case").toggleClass("visible");
            }
        });

        $(".map-game").droppable({
            accept: ".un-batiment"
        });

        /**
         * fonction appellée lorsqu'on relache la souris après le drag d'un élément sur la grille de la map
         * elle va appeler testBatimentPosition afin de voir si pas de batiment ou l'on vient de poser le notre
         * renvoi false si il y a un batiment et reset la os de l'élément pour le redrag
         * sinon on lance la construction du batiment
         */
        $(".map-game .case").mouseup(function() {
			temp = $(this).attr("id").split("-");

			pos_depart = [parseInt(temp[1]), parseInt(temp[2])];

            $.ajax({
                type:"POST",
                data: "nom_batiment="+nom_batiment+"&nom_batiment_sql="+nom_batiment_sql+"&pos_depart="+pos_depart,
                url:"{{WEBROOT}}controller/modules/bataille/batiment/test_emplacement_libre",
                success: function(data){
                    if (data == "erreur") {
						$("#"+nom_batiment_sql).parent().animate({
							left: 0,
							top: 0
						});
                    }
					else {
						location.reload();
					}
                }, error: function(){

                }
            });
        });
    })
</script>
