<script>
	//bout utilisé dans la popup pour construire un batment
	jQuery(function ($) {
		function setRafraichirRessource() {
			$.ajax({
				type:"POST",
				url:"{{WEBROOT}}controller/modules/bataille/ressource/rafraichir",
				success: function(data){
					var tab = JSON.parse(data);

					$(".ressources .eau").html(tab.bataille.eau);
					$(".ressources .electricite").html(tab.bataille.electricite);
					$(".ressources .fer").html(tab.bataille.fer);
					$(".ressources .fuel").html(tab.bataille.fuel);
				}, error: function(){

				}
			});
		}

		setInterval(setRafraichirRessource, 20000);
	});
</script>