/*----- LINK COLORS -----*/
/*----- FOR LOGIN PAGE -----*/
/**
	-------------------------------------- EFFECT CSS FILE ---------------------------------------

	In this file you will find some effect wich will be user on some elements to animate them
*/
/*used to hide elements after some animation*/
.cache {
  opacity: 0;
  display: none; }

/*---------------------------------- USED WITH JS ------------------------------------------------*/
/*---------------------------------- TRANSITION DURATION AND TYPE CLASS ------------------------------------------------*/
/*regroup class used to animate elemnts*/
.animate {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

/*---------------------------------- EFFECT AND TRANSFORM CLASS ------------------------------------------------*/
/*regroup class used to animate and transform element elemnts*/
.rotateY0 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.rotateY90 {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg); }

.scale0 {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

/*---------------------------------- USED WHEN OVER ELEMENT ------------------------------------------------*/
/*properties to add background transition to an element
	- $bg => define background color of the element wich is not hovered
	- $bg-hover => define background color of the element when it is hovered
	- $pos-bg => define the position of the background (could be top, right, bottom, left and center)
	- $pos-bg-hover => define the position of the background when hover (could be top, right, bottom, left and center)
*/
.bataille {
  /*-------------------------------------- LOGIN --------------------------------------*/ }
  .bataille .submit-contenu {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 10px;
    padding: 10px 20px;
    min-width: 64px;
    line-height: 18px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    transition: 0.3s all ease;
    font-size: 14px;
    font-family: Arial;
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 3px #b4b4b4;
    background: linear-gradient(#2196F3, #2196F3) no-repeat top, linear-gradient(#217ED3, #217ED3) no-repeat bottom;
    background-size: 100% 100%, 100% 0%;
    background-color: #2196F3;
    transition: 0.3s all ease;
    cursor: pointer; }
    .bataille .submit-contenu.submit-standard {
      position: inherit;
      right: inherit;
      top: inherit; }
    .bataille .submit-contenu.no-shadow {
      box-shadow: none; }
    .bataille .submit-contenu.full-width {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; }
    .bataille .submit-contenu.inline {
      display: inline-block; }
    .bataille .submit-contenu.link {
      padding: 11px 20px; }
    .bataille .submit-contenu i {
      margin-right: 5px;
      transition: 0.3s all ease; }
    .bataille .submit-contenu.supprimer-page {
      right: 120px;
      background: linear-gradient(#F34336, #F34336) no-repeat top, linear-gradient(#DD2A2A, #DD2A2A) no-repeat bottom;
      background-size: 100% 100%, 100% 0%;
      background-color: #F34336;
      transition: 0.3s all ease;
      cursor: pointer; }
      .bataille .submit-contenu.supprimer-page:hover {
        background-size: 100% 0%, 100% 100%; }
    .bataille .submit-contenu.pr130 {
      right: 130px; }
    .bataille .submit-contenu.ml0 {
      margin-left: 0; }
    .bataille .submit-contenu:hover {
      background-size: 100% 0%, 100% 100%; }
@keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
  .bataille.login {
    background-image: url(../images/login.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
    .bataille.login .login-form {
      opacity: 0;
      height: 0;
      max-width: 350px;
      border-radius: 2px;
      background-color: #EBEDF1;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      display: none; }
      .bataille.login .login-form.active {
        -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
        animation: cardEnter 0.75s ease-in-out 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        height: auto;
        margin: 0px auto;
        padding: 20px;
        opacity: 1;
        display: block;
        position: relative;
        top: 50px; }
      .bataille.login .login-form h1 {
        color: #AFBDC4;
        text-align: center;
        margin-top: 10px;
        margin-bottom: -10px; }
      .bataille.login .login-form img {
        margin-left: 75px; }
      .bataille.login .login-form .submit-contenu {
        margin-top: 40px;
        margin-bottom: 10px; }
      .bataille.login .login-form .bloc {
        position: relative;
        padding: 16px 0 8px 0;
        /*appellee dans le js*/
        /*appelee par le js egalement*/
        /*appelle par le js*/ }
        .bataille.login .login-form .bloc .label {
          position: relative;
          margin: 0;
          display: block;
          color: #A7A7A7;
          line-height: 16px;
          font-size: 16px;
          font-weight: 400;
          transform: translateY(32px);
          transition: transform 0.3s, font-size 0.3s;
          padding: 0;
          background-color: inherit;
          text-align: left; }
          .bataille.login .login-form .bloc .label.label-textarea {
            transform: translateY(37px);
            margin-left: 10px; }
        .bataille.login .login-form .bloc input {
          position: relative;
          display: block;
          width: 100%;
          min-width: inherit;
          height: 32px;
          padding: 8px 3px 3px 3px;
          margin: 0;
          line-height: 16px;
          font-size: 16px;
          background: transparent;
          border: none;
          -webkit-appearance: none;
          outline: none;
          box-shadow: none; }
        .bataille.login .login-form .bloc:not(.no-input)::before, .bataille.login .login-form .bloc:not(.no-input)::after {
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 6px;
          left: 0;
          background-color: #A7A7A7; }
        .bataille.login .login-form .bloc:not(.no-input)::after {
          background-color: #2196F3;
          transform: scaleX(0);
          transition: transform 0.3s ease; }
        .bataille.login .login-form .bloc.is-focused .label {
          color: #2196F3; }
        .bataille.login .login-form .bloc.is-focused::after {
          transform: scaleX(1); }
        .bataille.login .login-form .bloc.has-label .label {
          transform: translateY(0);
          font-size: 14px;
          margin-left: 0; }
        .bataille.login .login-form .bloc.has-label.invalid .label::after {
          top: 65px; }
        .bataille.login .login-form .bloc.invalid::after {
          transform: scaleX(1);
          background-color: #F34336; }
        .bataille.login .login-form .bloc.invalid .label::after {
          color: #F34336;
          content: attr(data-error);
          opacity: 1;
          position: absolute;
          top: 35px;
          left: 0; }
      .bataille.login .login-form .lien a {
        color: #A7A7A7;
        transition: all 0.3s ease; }
        .bataille.login .login-form .lien a:hover {
          color: #217ED3; }

/*# sourceMappingURL=login.css.map */
