/*pour la nav tout en haut de la page ou il y a aide déconnexion...*/
$bg-top-nav: #000;
$clr-top-nav: #fff;

/*pour la nav principaleou il y a le logo de la map...*/
$bg-nav: #212122;
$bg-img-nav: #414142;

/*pour le logo et les ressources + les panneaux lattéraux avec les unités*/
$bg-nom-base: #F24237;
$clr-nom-base: #fff;
$bg-ressource: #303031;
$clr-ressource: #fff;

/*pour le body et le bg de la map*/
$bg-body: #414142;
$bg-map: #2C626A;

/*pour la map ou on voit tous les players*/
$border-map-players: #000;
$map-bg-mabase: green;
$map-bg-hover-base: #FFFFFF;

body {
	background-color: $bg-body;
}

.bataille {
	/*-------------------------------------- CLASS GENERALES --------------------------------------*/
	.rouge {
		color: #FF0000;;
	}

	/*-------------------------------------- HEADER --------------------------------------*/
	header {
		nav.top {
			background-color: $bg-top-nav;
			color: $clr-top-nav;

			ul {
				margin: 0;

				li {
					display: inline-block;
					padding: 0.5rem 1rem;
				}
			}
		}
	}


	nav.middle {
		background-color: $bg-nav;
		height: 100px;
		width: 100%;

		ul {
			margin-bottom: 0;

			li {
				list-style: none;
				display: inline-block;
			}
		}

		a {
			display: block;
		}
	}

	/*partie qui gere l'affichage des ressources + du nom du village*/
	.ressources {
		.gauche, .droite {
			background-color: $bg-ressource;
			height: 50px;
			color: $clr-ressource;
			padding-top: 1rem;

			.texte {
				margin-top: 0.2rem;
			}
		}

		.gauche::before {
			background-color: $bg-ressource;
			width: 20px;
			height: 50px;
			position: absolute;
			top: 0;
			left: -15px;
			transform: skewX(10deg);
			content: ' ';
		}

		.droite::after {
			background-color: $bg-ressource;
			width: 20px;
			height: 50px;
			position: absolute;
			top: 0;
			right: -15px;
			transform: skewX(-10deg);
			content: ' ';
		}

		.nom-base {
			height: 60px;
			background-color: $bg-nom-base;
			color: $clr-nom-base;
			vertical-align: middle;

			&::before {
				background-color: $bg-nom-base;
				width: 20px;
				height: 60px;
				position: absolute;
				top: 0;
				left: -15px;
				transform: skewX(10deg);
				content: ' ';
			}

			&::after {
				background-color: $bg-nom-base;
				width: 20px;
				height: 60px;
				position: absolute;
				top: 0;
				right: -15px;
				transform: skewX(-10deg);
				content: ' ';
				z-index: 1;
			}
			
			h3 {
				margin-bottom: -5px;
			}
			
			p {
				text-align: center;
			}
		}

		img {
			margin-top: -0.5rem;
		}
	}



	/*-------------------------------------- SIDE BAR --------------------------------------*/
	.side-bar {
		background-color: $bg-ressource;
		color: $clr-ressource;
	}



	/*-------------------------------------- MAP GAME --------------------------------------*/
	.liste-batiments {
		.un-batiment {
			background-color: #CCCCCC;
			width: 100px;
			height: 100px;
			text-align: center;
			vertical-align: middle;
			margin-top: 20px;
		}
	}

	.map-game {
		width: 1166px;
		height: 545px;
		border: 3px solid #000;
		margin: 0 auto;
		position: relative;

		.un-batiment {
			position: absolute;
			background-color: #CCCCCC;

			&.construction {
				background-color: #ff6600;
			}
		}

		.cases {
			visibility: hidden;

			&.visible {
				visibility: visible;
			}
		}

		.case {
			width: 20px;
			height: 20px;
			border: 0.001em solid #fff;
			position: absolute;
		}
	}



	/*-------------------------------------- MAP --------------------------------------*/
	.map-players {
		position: relative;
		height: 1200px;
		max-height: 1200px;
		overflow: hidden;
		border: 1px solid $border-map-players;

		.controls {
			background: rgba(0, 0, 0, 0.8);
			z-index: 1;
			position: absolute;
		}

		#right {
			right: 0;
			top: 0;
			height: 100%;
			width: 20px;
		}

		#left {
			left: 0;
			top: 0;
			height: 100%;
			width: 20px;
		}

		#top {
			left: 0;
			top: 0;
			height: 20px;
			width: 100%;
		}

		#bottom {
			left: 0;
			bottom: 0;
			height: 20px;
			width: 100%;
		}

		.map {
			margin: 30px;
			position: absolute;

			> div {
				width: 10px;
				height: 10px;
				background-color: #FFF;
				position: absolute;
				
				&:hover {
					cursor: pointer;
					
					> div {
						display: block;
					}
				}

				&.ma-base {
					background-color: $map-bg-mabase;
				}
				
				> div {
					height: 25px;
					width: 300px;
					background: $map-bg-hover-base;
					position: absolute;
					top: -30px;
					display: none;
				}
			}
		}
	}
}

p.rouge {
	color: red;
}

.popup {
	overflow-y: visible;

	.content {
		min-height: 200px;
		max-height: 500px;
		overflow-y: scroll;
	}

	.rouge {
		color: red;
	}
}

/*-------------------------------------- CASERNE --------------------------------------*/
.popup .caserne {
	ul {
		li {
			display: inline-block;
			font-weight: normal;
		}
	}
}