@charset "UTF-8";
/*pour la nav tout en haut de la page ou il y a aide d├®connexion...*/
/*pour la nav principaleou il y a le logo de la map...*/
/*pour le logo et les ressources + les panneaux latt├®raux avec les unit├®s*/
/*pour le body et le bg de la map*/
/*pour la map ou on voit tous les players*/
/*----- LINK COLORS -----*/
/*----- FOR LOGIN PAGE -----*/
/**
	-------------------------------------- EFFECT CSS FILE ---------------------------------------

	In this file you will find some effect wich will be user on some elements to animate them
*/
/*used to hide elements after some animation*/
.cache {
  opacity: 0;
  display: none; }

/*---------------------------------- USED WITH JS ------------------------------------------------*/
/*---------------------------------- TRANSITION DURATION AND TYPE CLASS ------------------------------------------------*/
/*regroup class used to animate elemnts*/
.animate {
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

/*---------------------------------- EFFECT AND TRANSFORM CLASS ------------------------------------------------*/
/*regroup class used to animate and transform element elemnts*/
.rotateY0 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg); }

.rotateY90 {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg); }

.scale0 {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0); }

/*---------------------------------- USED WHEN OVER ELEMENT ------------------------------------------------*/
/*properties to add background transition to an element
	- $bg => define background color of the element wich is not hovered
	- $bg-hover => define background color of the element when it is hovered
	- $pos-bg => define the position of the background (could be top, right, bottom, left and center)
	- $pos-bg-hover => define the position of the background when hover (could be top, right, bottom, left and center)
*/
.bataille {
  /*-------------------------------------- LOGIN --------------------------------------*/ }
  .bataille .submit-contenu {
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 10px;
    padding: 10px 20px;
    min-width: 64px;
    line-height: 18px;
    background-color: #F24237;
    color: #fff;
    border: none;
    transition: 0.3s all ease;
    font-size: 14px;
    font-family: Arial;
    color: #fff;
    text-align: center;
    box-shadow: 1px 1px 3px #b4b4b4;
    background: linear-gradient(#F24237, #F24237) no-repeat top, linear-gradient(#C33632, #C33632) no-repeat bottom;
    background-size: 100% 100%, 100% 0%;
    background-color: #F24237;
    transition: 0.3s all ease;
    cursor: pointer; }
    .bataille .submit-contenu.submit-standard {
      position: inherit;
      right: inherit;
      top: inherit; }
    .bataille .submit-contenu.no-shadow {
      box-shadow: none; }
    .bataille .submit-contenu.full-width {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0; }
    .bataille .submit-contenu.inline {
      display: inline-block; }
    .bataille .submit-contenu.link {
      padding: 11px 20px; }
    .bataille .submit-contenu i {
      margin-right: 5px;
      transition: 0.3s all ease; }
    .bataille .submit-contenu.supprimer-page {
      right: 120px;
      background: linear-gradient(#F34336, #F34336) no-repeat top, linear-gradient(#DD2A2A, #DD2A2A) no-repeat bottom;
      background-size: 100% 100%, 100% 0%;
      background-color: #F34336;
      transition: 0.3s all ease;
      cursor: pointer; }
      .bataille .submit-contenu.supprimer-page:hover {
        background-size: 100% 0%, 100% 100%; }
    .bataille .submit-contenu.pr130 {
      right: 130px; }
    .bataille .submit-contenu.ml0 {
      margin-left: 0; }
    .bataille .submit-contenu:hover {
      background-size: 100% 0%, 100% 100%; }
@keyframes cardEnter {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    -ms-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    -ms-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    -ms-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    -ms-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }
  .bataille.login {
    background-image: url(../images/login.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
    .bataille.login .login-form {
      opacity: 0;
      height: 0;
      max-width: 350px;
      border-radius: 2px;
      background-color: #EBEDF1;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
      display: none; }
      .bataille.login .login-form.active {
        -webkit-animation: cardEnter 0.75s ease-in-out 0.5s;
        animation: cardEnter 0.75s ease-in-out 0.5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        height: auto;
        margin: 0px auto;
        padding: 20px;
        opacity: 1;
        display: block;
        position: relative;
        top: 20%; }
      .bataille.login .login-form h1, .bataille.login .login-form h2 {
        color: #AFBDC4;
        text-align: center;
        margin-top: 10px;
        margin-bottom: -10px; }
      .bataille.login .login-form img {
        margin-left: 75px; }
      .bataille.login .login-form .submit-contenu {
        margin-top: 40px;
        margin-bottom: 10px; }
      .bataille.login .login-form .bloc {
        position: relative;
        padding: 16px 0 8px 0;
        /*appellee dans le js*/
        /*appelee par le js egalement*/
        /*appelle par le js*/ }
        .bataille.login .login-form .bloc .label {
          position: relative;
          margin: 0;
          display: block;
          color: #A7A7A7;
          line-height: 16px;
          font-size: 16px;
          font-weight: 400;
          transform: translateY(32px);
          transition: transform 0.3s, font-size 0.3s;
          padding: 0;
          background-color: inherit;
          text-align: left; }
          .bataille.login .login-form .bloc .label.label-textarea {
            transform: translateY(37px);
            margin-left: 10px; }
        .bataille.login .login-form .bloc input {
          position: relative;
          display: block;
          width: 100%;
          min-width: inherit;
          height: 32px;
          padding: 8px 3px 3px 3px;
          margin: 0;
          line-height: 16px;
          font-size: 16px;
          background: transparent;
          border: none;
          -webkit-appearance: none;
          outline: none;
          box-shadow: none; }
        .bataille.login .login-form .bloc:not(.no-input)::before, .bataille.login .login-form .bloc:not(.no-input)::after {
          content: '';
          height: 2px;
          width: 100%;
          position: absolute;
          bottom: 6px;
          left: 0;
          background-color: #A7A7A7; }
        .bataille.login .login-form .bloc:not(.no-input)::after {
          background-color: #F24237;
          transform: scaleX(0);
          transition: transform 0.3s ease; }
        .bataille.login .login-form .bloc.is-focused .label {
          color: #F24237; }
        .bataille.login .login-form .bloc.is-focused::after {
          transform: scaleX(1); }
        .bataille.login .login-form .bloc.has-label .label {
          transform: translateY(0);
          font-size: 14px;
          margin-left: 0; }
        .bataille.login .login-form .bloc.has-label.invalid .label::after {
          top: 65px; }
        .bataille.login .login-form .bloc.invalid::after {
          transform: scaleX(1);
          background-color: #F34336; }
        .bataille.login .login-form .bloc.invalid .label::after {
          color: #F34336;
          content: attr(data-error);
          opacity: 1;
          position: absolute;
          top: 35px;
          left: 0; }
      .bataille.login .login-form .lien a {
        color: #A7A7A7;
        transition: all 0.3s ease; }
        .bataille.login .login-form .lien a:hover {
          color: #C33632; }

body {
  background-color: #414142;
  font-family: Arial; }

button.no-style {
  background-color: inherit;
  padding: 0;
  margin: 0; }

.bataille {
  /*-------------------------------------- CLASS GENERALES --------------------------------------*/
  /*-------------------------------------- HEADER --------------------------------------*/
  /*partie qui gere l'affichage des ressources + du nom du village*/
  /*-------------------------------------- SIDE BAR --------------------------------------*/
  /*-------------------------------------- MAP GAME --------------------------------------*/
  /*-------------------------------------- MAP --------------------------------------*/
  /*-------------------------------------- POPUP --------------------------------------*/ }
  .bataille .rouge {
    color: #FF0000; }
  .bataille header {
    margin-bottom: 1rem; }
    .bataille header nav.top {
      background-color: #000;
      color: #fff; }
      .bataille header nav.top ul {
        margin: 0; }
        .bataille header nav.top ul li {
          display: inline-block;
          padding: 0.5rem 1rem; }
  .bataille nav.middle {
    background-color: #212122;
    width: 100%; }
    .bataille nav.middle ul {
      margin-bottom: 0;
      margin: 0.5rem 0; }
      .bataille nav.middle ul li {
        list-style: none;
        display: inline-block;
        transition: all 0.3s ease; }
        .bataille nav.middle ul li .message-non-lu {
          position: absolute;
          color: #fff;
          background-color: #F24237;
          width: 30px;
          height: 30px;
          border-radius: 15px;
          text-align: center;
          margin-top: 0.2rem;
          margin-left: -0.5rem; }
    .bataille nav.middle a {
      display: block; }
  .bataille .ressources .gauche, .bataille .ressources .droite {
    background-color: #303031;
    min-height: 50px;
    color: #fff;
    padding-top: 1rem; }
    .bataille .ressources .gauche .texte, .bataille .ressources .droite .texte {
      margin-top: 0.2rem; }
  @media screen and (min-width: 1100px) {
    .bataille .ressources .gauche::before {
      background-color: #303031;
      width: 20px;
      min-height: 50px;
      position: absolute;
      top: 0;
      left: -15px;
      transform: skewX(10deg);
      content: ' '; }
    .bataille .ressources .droite::after {
      background-color: #303031;
      width: 20px;
      min-height: 50px;
      position: absolute;
      top: 0;
      right: -15px;
      transform: skewX(-10deg);
      content: ' '; } }
  .bataille .ressources .nom-base {
    height: 109px;
    background-color: #F24237;
    color: #fff;
    vertical-align: middle; }
    .bataille .ressources .nom-base h3 {
      margin-bottom: -5px; }
    .bataille .ressources .nom-base p {
      text-align: center;
      margin-bottom: 0;
      margin-top: 0.5rem; }
    .bataille .ressources .nom-base .changer-base {
      cursor: pointer; }
      .bataille .ressources .nom-base .changer-base ul {
        display: none;
        background-color: #F24237;
        margin-left: 0; }
        .bataille .ressources .nom-base .changer-base ul.active {
          display: block; }
        .bataille .ressources .nom-base .changer-base ul li {
          list-style: none; }
  .bataille .ressources .nourriture {
    margin-top: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.6rem;
    color: #FFFFFF;
    background-color: #303031;
    position: relative;
    min-height: 50px; }
    .bataille .ressources .nourriture p {
      margin-bottom: 0; }
    .bataille .ressources .nourriture img {
      margin-top: 0;
      margin-right: 0.4rem; }
    @media screen and (min-width: 1100px) {
      .bataille .ressources .nourriture::after {
        background-color: #303031;
        width: 20px;
        min-height: 51px;
        position: absolute;
        top: 0;
        right: -15px;
        transform: skewX(-10deg);
        content: ' '; } }
  .bataille .ressources img {
    margin-top: -0.5rem; }
  .bataille .side-bar {
    background-color: #303031;
    color: #fff; }
  .bataille .un-batiment {
    background-color: #6D6E71;
    position: relative; }
    .bataille .un-batiment.construction div {
      color: #ff6600; }
    .bataille .un-batiment div {
      position: absolute;
      color: #FFFFFF;
      text-align: center;
      margin-top: 15%;
      width: 100%; }
  @media screen and (max-width: 1024px) {
    .bataille .un-batiment {
      margin: 1rem; } }
  .bataille .liste-batiments .un-batiment {
    width: 100px;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
    cursor: move; }
  .bataille .map-game {
    width: 1166px;
    height: 545px;
    border: 3px solid #000;
    margin: 0 auto;
    position: relative; }
    .bataille .map-game .un-batiment {
      position: absolute; }
    .bataille .map-game .cases {
      visibility: hidden; }
      .bataille .map-game .cases.visible {
        visibility: visible; }
    .bataille .map-game .case {
      width: 20px;
      height: 20px;
      border: 0.001em solid #fff;
      position: absolute; }
  .bataille .map-players {
    position: relative;
    height: 1200px;
    max-height: 1200px;
    overflow: hidden;
    border: 1px solid #000;
    background-color: #162B56; }
    .bataille .map-players .controls {
      background: rgba(0, 0, 0, 0.8);
      z-index: 1;
      position: absolute; }
    .bataille .map-players #right {
      right: 0;
      top: 0;
      height: 100%;
      width: 20px; }
    .bataille .map-players #left {
      left: 0;
      top: 0;
      height: 100%;
      width: 20px; }
    .bataille .map-players #top {
      left: 0;
      top: 0;
      height: 20px;
      width: 100%; }
    .bataille .map-players #bottom {
      left: 0;
      bottom: 0;
      height: 20px;
      width: 100%; }
    .bataille .map-players .map {
      margin: 30px;
      position: absolute; }
      .bataille .map-players .map > div {
        width: 10px;
        height: 10px;
        background-color: #FFF;
        position: absolute; }
        .bataille .map-players .map > div:hover {
          cursor: pointer; }
          .bataille .map-players .map > div:hover > div {
            display: block; }
        .bataille .map-players .map > div.ma-base {
          background-color: #2A6BC3; }
        .bataille .map-players .map > div.mes-bases {
          background-color: #22569D; }
        .bataille .map-players .map > div.ma-faction {
          background-color: #24AC29; }
        .bataille .map-players .map > div.faction-allie {
          background-color: #1E7620; }
        .bataille .map-players .map > div.faction-non-agression {
          background-color: #595959; }
        .bataille .map-players .map > div.faction-ennemi {
          background-color: #AC0003; }
        .bataille .map-players .map > div > div {
          height: 25px;
          min-width: 350px;
          background: #FFFFFF;
          position: absolute;
          top: -30px;
          display: none; }
  .bataille .popup-batiment {
    margin-top: 3rem; }
    .bataille .popup-batiment img {
      width: 100%; }
    .bataille .popup-batiment .next-lvl {
      padding-left: 1rem; }
      .bataille .popup-batiment .next-lvl h3 {
        margin: 1rem 0; }
      .bataille .popup-batiment .next-lvl ul.ressources {
        margin-left: 0; }
        .bataille .popup-batiment .next-lvl ul.ressources li {
          display: inline-block; }
          .bataille .popup-batiment .next-lvl ul.ressources li .texte {
            margin-top: -1rem; }

p.rouge {
  color: red; }

.popup {
  overflow-y: visible; }
  .popup .content {
    min-height: 200px;
    max-height: 600px;
    overflow-y: scroll;
    margin-top: 5%; }
    .popup .content .lien a {
      color: #FFFFFF;
      border: none;
      transition: 0.3s all ease;
      font-size: 14px;
      font-family: Arial;
      color: #fff;
      text-align: center;
      box-shadow: 1px 1px 3px #b4b4b4;
      margin: 10px;
      line-height: 18px;
      background-color: #2196F3; }
      .popup .content .lien a.annuler:hover {
        background-color: #217ED3;
        color: #FFFFFF; }
    .popup .content .ambassade button {
      padding: 0.63rem;
      margin-top: 1rem;
      vertical-align: bottom;
      margin-top: 1.3rem; }
      .popup .content .ambassade button.coller {
        margin-left: -1.9rem; }
  .popup .rouge {
    color: red; }
  .popup .construire {
    display: block;
    padding-bottom: 30px; }

/*-------------------------------------- CASERNE --------------------------------------*/
.popup .caserne ul li {
  display: inline-block;
  font-weight: normal; }

/*-------------------------------------- AMBASSADE --------------------------------------*/
.ambassade .row {
  margin-left: 0;
  margin-right: 0; }
.ambassade .un-forum {
  background-color: #CCCCCC;
  margin-bottom: 1rem;
  padding: 0.5rem 0; }

/*-------------------------------------- MESSAGERIE --------------------------------------*/
.messagerie nav {
  background-color: #626263; }
  .messagerie nav ul li {
    display: inline-block;
    list-style: none;
    padding: 10px; }
    .messagerie nav ul li:not(:last-child) {
      border-right: 1px solid #fff; }
.messagerie .liste-message {
  background-color: #626263;
  min-height: 600px; }

/*-------------------------------------- CLASSEMENT --------------------------------------*/
.classement .ligne {
  border-bottom: 1px solid #F24237;
  padding-bottom: 1rem;
  padding-top: 1rem; }

/*-------------------------------------- GESTION DU PROFIL --------------------------------------*/
.gestion-profil {
  color: #fff; }
  .gestion-profil .bloc {
    background-color: #303031;
    padding: 10px; }
  .gestion-profil a {
    padding: 20px;
    margin-top: 0.5rem;
    display: inline-block;
    border: 2px solid #F24237;
    transition: all 0.3s ease;
    background: linear-gradient(#F24237, #F24237) no-repeat left bottom, linear-gradient(#F24237, #F24237) no-repeat right top;
    background-size: 51% 0%, 51% 0%; }
    .gestion-profil a:hover {
      background-size: 51% 100%, 51% 100%;
      color: #fff;
      cursor: pointer; }

/*# sourceMappingURL=style.css.map */
