@charset "UTF-8";
/*pour la nav tout en haut de la page ou il y a aide d├®connexion...*/
/*pour la nav principaleou il y a le logo de la map...*/
/*pour le logo et les ressources + les panneaux latt├®raux avec les unit├®s*/
/*pour le body et le bg de la map*/
/*pour la map ou on voit tous les players*/
body {
  background-color: #414142; }

.bataille {
  /*-------------------------------------- CLASS GENERALES --------------------------------------*/
  /*-------------------------------------- HEADER --------------------------------------*/
  /*partie qui gere l'affichage des ressources + du nom du village*/
  /*-------------------------------------- SIDE BAR --------------------------------------*/
  /*-------------------------------------- MAP --------------------------------------*/ }
  .bataille .rouge {
    color: #FF0000; }
  .bataille header nav.top {
    background-color: #000;
    color: #fff; }
    .bataille header nav.top ul {
      margin: 0; }
      .bataille header nav.top ul li {
        display: inline-block;
        padding: 0.5rem 1rem; }
  .bataille nav.middle {
    background-color: #212122;
    height: 100px;
    width: 100%; }
    .bataille nav.middle ul {
      margin-bottom: 0; }
      .bataille nav.middle ul li {
        list-style: none;
        display: inline-block; }
    .bataille nav.middle a {
      display: block; }
  .bataille .ressources .gauche, .bataille .ressources .droite {
    background-color: #303031;
    height: 50px;
    color: #fff;
    padding-top: 1rem; }
    .bataille .ressources .gauche .texte, .bataille .ressources .droite .texte {
      margin-top: 0.2rem; }
  .bataille .ressources .gauche::before {
    background-color: #303031;
    width: 20px;
    height: 50px;
    position: absolute;
    top: 0;
    left: -15px;
    transform: skewX(10deg);
    content: ' '; }
  .bataille .ressources .droite::after {
    background-color: #303031;
    width: 20px;
    height: 50px;
    position: absolute;
    top: 0;
    right: -15px;
    transform: skewX(-10deg);
    content: ' '; }
  .bataille .ressources .nom-base {
    height: 60px;
    background-color: #F24237;
    color: #fff;
    vertical-align: middle; }
    .bataille .ressources .nom-base::before {
      background-color: #F24237;
      width: 20px;
      height: 60px;
      position: absolute;
      top: 0;
      left: -15px;
      transform: skewX(10deg);
      content: ' '; }
    .bataille .ressources .nom-base::after {
      background-color: #F24237;
      width: 20px;
      height: 60px;
      position: absolute;
      top: 0;
      right: -15px;
      transform: skewX(-10deg);
      content: ' ';
      z-index: 1; }
  .bataille .ressources img {
    margin-top: -0.5rem; }
  .bataille .side-bar {
    background-color: #303031;
    color: #fff; }
  .bataille .map-players {
    position: relative;
    height: 1200px;
    max-width: 1200px;
    max-height: 1200px;
    overflow: hidden;
    border: 1px solid #000; }
    .bataille .map-players > div {
      margin: 30px;
      position: absolute; }
      .bataille .map-players > div > div {
        width: 10px;
        height: 10px;
        background-color: #FFF;
        position: absolute; }
        .bataille .map-players > div > div:hover {
          cursor: pointer; }
          .bataille .map-players > div > div:hover > div {
            display: block; }
        .bataille .map-players > div > div.ma-base {
          background-color: green; }
        .bataille .map-players > div > div > div {
          height: 25px;
          width: 300px;
          background: #FFFFFF;
          position: absolute;
          top: -30px;
          display: none; }

p.rouge {
  color: red; }

.popup {
  overflow-y: visible; }
  .popup .content {
    min-height: 200px;
    max-height: 500px;
    overflow-y: scroll; }
  .popup .rouge {
    color: red; }

/*# sourceMappingURL=style.css.map */
