/*pour la nav tout en haut de la page ou il y a aide déconnexion...*/
$bg-top-nav: #000;
$clr-top-nav: #fff;

/*pour la nav principaleou il y a le logo de la map...*/
$bg-nav: #212122;
$bg-img-nav: #414142;

/*pour le logo et les ressources + les panneaux lattéraux avec les unités*/
$bg-nom-base: #F24237;
$clr-nom-base: #fff;
$bg-ressource: #303031;
$clr-ressource: #fff;

/*pour le body et le bg de la map*/
$bg-body: #414142;
$bg-messagerie: #626263;
$bg-map: #162B56;

/*pour la map ou on voit tous les players*/
$border-map-players: #000;
$map-bg-mabase: #2A6BC3;
$map-bg-mesbases: #22569D;
$map-bg-mafaction: #24AC29;
$map-bg-factionallie: #1E7620;
$map-bg-factionennemi: #AC0003;
$map-bg-factionnonagression: #595959;
$map-bg-hover-base: #FFFFFF;

@import "login";

body {
	background-color: $bg-body;
	font-family: Arial;
}

button.no-style {
	background-color: inherit;
	padding:0;
	margin: 0;
}

.bataille {
	/*-------------------------------------- CLASS GENERALES --------------------------------------*/
	.rouge {
		color: #FF0000;;
	}
	
	
	
	/*-------------------------------------- HEADER --------------------------------------*/
	header {
		margin-bottom: 1rem;
		
		nav.top {
			background-color: $bg-top-nav;
			color: $clr-top-nav;

			ul {
				margin: 0;

				li {
					display: inline-block;
					padding: 0.5rem 1rem;
				}
			}
		}
	}


	nav.middle {
		background-color: $bg-nav;
		width: 100%;

		ul {
			margin-bottom: 0;
			margin: 0.5rem 0;

			li {
				list-style: none;
				display: inline-block;
				transition: all 0.3s ease;
				
				.message-non-lu {
					position: absolute;
					color: #fff;
					background-color: $bg-nom-base;
					width: 30px;
					height: 30px;
					border-radius: 15px;
					text-align: center;
					margin-top: 0.2rem;
					margin-left: -0.5rem;
				}
			}
		}

		a {
			display: block;
		}
	}

	/*partie qui gere l'affichage des ressources + du nom du village*/
	.ressources {
		.gauche, .droite {
			background-color: $bg-ressource;
			min-height: 50px;
			color: $clr-ressource;
			padding-top: 1rem;

			.texte {
				margin-top: 0.2rem;
			}
		}
		
		@media screen and (min-width: 1100px) {
			.gauche::before {
				background-color: $bg-ressource;
				width: 20px;
				min-height: 50px;
				position: absolute;
				top: 0;
				left: -15px;
				transform: skewX(10deg);
				content: ' ';
			}
			
			.droite::after {
				background-color: $bg-ressource;
				width: 20px;
				min-height: 50px;
				position: absolute;
				top: 0;
				right: -15px;
				transform: skewX(-10deg);
				content: ' ';
			}
		}

		.nom-base {
			height: 109px;
			background-color: $bg-nom-base;
			color: $clr-nom-base;
			vertical-align: middle;
			
			h3 {
				margin-bottom: -5px;
			}
			
			p {
				text-align: center;
				margin-bottom: 0;
				margin-top: 0.5rem;
			}
			
			.changer-base {
				cursor: pointer;
				
				ul {
					display: none;
					background-color: $bg-nom-base;
					margin-left: 0;
					
					&.active {
						display: block;
					}
					
					li {
						list-style: none;
					}
				}
			}
		}
		
		.nourriture {
			margin-top: 0.5rem;
			padding-left: 1rem;
			padding-top: 0.6rem;
			color: #FFFFFF;
			background-color: $bg-ressource;
			position: relative;
			min-height: 50px;
			
			p {
				margin-bottom: 0;
			}
			
			img {
				margin-top: 0;
				margin-right: 0.4rem;
			}
			
			@media screen and (min-width: 1100px) {
				&::after {
					background-color: $bg-ressource;
					width: 20px;
					min-height: 51px;
					position: absolute;
					top: 0;
					right: -15px;
					transform: skewX(-10deg);
					content: ' ';
				}
			}
		}

		img {
			margin-top: -0.5rem;
		}
	}



	/*-------------------------------------- SIDE BAR --------------------------------------*/
	.side-bar {
		background-color: $bg-ressource;
		color: $clr-ressource;
	}



	/*-------------------------------------- MAP GAME --------------------------------------*/
	.un-batiment {
		background-color: #6D6E71;
		position: relative;
		
		&.construction {
			div {
				color: #ff6600;
			}
		}
		
		div {
			position: absolute;
			color: #FFFFFF;
			text-align: center;
			margin-top: 15%;
			width: 100%;
		}
	}
	
	@media screen and (max-width: 1024px) {
		.un-batiment {
			margin: 1rem;
		}
	}
	
	.liste-batiments {
		.un-batiment {
			width: 100px;
			height: 100px;
			text-align: center;
			vertical-align: middle;
			margin-top: 20px;
			cursor : move;
		}
	}
	
	.map-game {
		width: 1166px;
		height: 545px;
		border: 3px solid #000;
		margin: 0 auto;
		position: relative;
		
		.un-batiment {
			position: absolute;
		}
		
		.cases {
			visibility: hidden;
			
			&.visible {
				visibility: visible;
			}
		}
		
		.case {
			width: 20px;
			height: 20px;
			border: 0.001em solid #fff;
			position: absolute;
		}
	}
	
	
	
	/*-------------------------------------- MAP --------------------------------------*/
	.map-players {
		position: relative;
		height: 1200px;
		max-height: 1200px;
		overflow: hidden;
		border: 1px solid $border-map-players;
		background-color: $bg-map;

		.controls {
			background: rgba(0, 0, 0, 0.8);
			z-index: 1;
			position: absolute;
		}

		#right {
			right: 0;
			top: 0;
			height: 100%;
			width: 20px;
		}

		#left {
			left: 0;
			top: 0;
			height: 100%;
			width: 20px;
		}

		#top {
			left: 0;
			top: 0;
			height: 20px;
			width: 100%;
		}

		#bottom {
			left: 0;
			bottom: 0;
			height: 20px;
			width: 100%;
		}

		.map {
			margin: 30px;
			position: absolute;

			> div {
				width: 10px;
				height: 10px;
				background-color: #FFF;
				position: absolute;
				
				&:hover {
					cursor: pointer;
					
					> div {
						display: block;
					}
				}

				&.ma-base {
					background-color: $map-bg-mabase;
				}
				
				&.mes-bases {
					background-color: $map-bg-mesbases;
				}
				
				&.ma-faction {
					background-color: $map-bg-mafaction;
				}
				
				&.faction-allie {
					background-color: $map-bg-factionallie;
				}
				
				&.faction-non-agression {
					background-color: $map-bg-factionnonagression;
				}
				
				&.faction-ennemi {
					background-color: $map-bg-factionennemi;
				}
				
				> div {
					height: 25px;
					min-width: 350px;
					background: $map-bg-hover-base;
					position: absolute;
					top: -30px;
					display: none;
				}
			}
		}
	}
	
	
	
	/*-------------------------------------- POPUP --------------------------------------*/
	.popup-batiment {
		margin-top: 3rem;
		
		img {
			width: 100%;
		}
		
		.next-lvl {
			padding-left: 1rem;
			
			h3 {
				margin: 1rem 0;
			}
			
			ul.ressources {
				margin-left: 0;
				
				li {
					display: inline-block;
					
					.texte {
						margin-top: -1rem;
					}
				}
			}
		}
	}
}

p.rouge {
	color: red;
}

.popup {
	overflow-y: visible;

	.content {
		min-height: 200px;
		max-height: 600px;
		overflow-y: scroll;
		margin-top: 5%;
		
		.lien a {
			color: #FFFFFF;
			border: none;
			transition: 0.3s all ease;
			font-size: 14px;
			font-family: Arial;
			color: #fff;
			text-align: center;
			box-shadow: 1px 1px 3px #b4b4b4;
			margin: 10px;
			line-height: 18px;
			background-color: #2196F3;
			
			&.annuler:hover {
				background-color: #217ED3;
				color: #FFFFFF;
			}
		}
		
		.ambassade {
			button {
				padding: 0.63rem;
				margin-top: 1rem;
				vertical-align: bottom;
				margin-top: 1.3rem;
				margin-left: -1.9rem;
			}
		}
	}

	.rouge {
		color: red;
	}
	
	.construire {
		display: block;
		padding-bottom: 30px;
	}
}



/*-------------------------------------- CASERNE --------------------------------------*/
.popup .caserne {
	ul {
		li {
			display: inline-block;
			font-weight: normal;
		}
	}
}


/*-------------------------------------- AMBASSADE --------------------------------------*/
.ambassade {
	.row {
		margin-left:0;
		margin-right: 0;
	}
	
	.un-forum {
		background-color: #CCCCCC;
		margin-bottom: 1rem;
		padding: 0.5rem 0;
	}
}


/*-------------------------------------- MESSAGERIE --------------------------------------*/
.messagerie {
	nav {
		background-color: $bg-messagerie;
		
		ul {
			li {
				display: inline-block;
				list-style: none;
				padding: 10px;
				
				&:not(:last-child) {
					border-right: 1px solid #fff;
				}
			}
		}
	}
	
	.liste-message {
		background-color: $bg-messagerie;
		min-height: 600px;
	}
}



/*-------------------------------------- CLASSEMENT --------------------------------------*/
.classement {
	.ligne {
		border-bottom: 1px solid $bg-nom-base;
		padding-bottom: 1rem;
		padding-top: 1rem;
	}
}



/*-------------------------------------- GESTION DU PROFIL --------------------------------------*/
.gestion-profil {
	color: #fff;
	
	.bloc {
		background-color: $bg-ressource;
		padding: 10px;
	}
	
	a {
		padding: 20px;
		margin-top: 0.5rem;
		display: inline-block;
		border: 2px solid $bg-nom-base;
		transition: all 0.3s ease;
		background: linear-gradient($bg-nom-base, $bg-nom-base) no-repeat left bottom,
		linear-gradient($bg-nom-base, $bg-nom-base) no-repeat right top;
		background-size: 51% 0%, 51% 0%;
		
		&:hover {
			background-size: 51% 100%, 51% 100%;
			color: #fff;
			cursor: pointer;
		}
	}
}