<div class="ambassade">
	{% include("popup/ambassade/nav-ambassade.html")  %}
	
	{% if bataille.permission_player != "chef" and "GERER_RANG_MEMBRE" not in bataille.permission_player %}
		<p>Vous n'avez pas accès à cette fonctionnalité, merci de changer de page</p>
	{% else %}
		<h4>Liste des permissions</h4>
		<ol>
			{% for i in bataille.liste_permissions %}
				<li>{{ i }}</li>
			{% endfor %}
		</ol>
		
		<h4>Membres de la faction</h4>
		
		{% for i in bataille.membres_faction %}
			<div class="row">
				<div class="row">
					<div class="small-12 medium-1 columns">
						<a href=""  class="player" player="{{ i.id_identite }}">{{ i.pseudo }}</a>
					</div>
					<div class="small-12 medium-1 columns">
						{{ i.rang_faction }}
					</div>
					<div class="small-12 medium-1 columns end">
						{{ i.points }}
					</div>
					<div class="small-12 medium-3 columns end">
						{% if i.id_identite == bataille.id_identite_player %}
							<a href="" class="renvoyer-membre">Quitter la faction</a>
						{% else %}
							<a href="" class="renvoyer-membre">Renvoyer le membre</a>
						{% endif %}
					</div>
				</div>
				
				<div class="row">
					{% set disabled_chef %}{% endset %}
					{% if i.chef == 1 and bataille.permission_player != "chef" or i.chef == 1 and bataille.permission_player == "chef" %}
						{% set disabled_chef %}disabled{% endset %}
					{% endif %}
					
					<div class="row">
						{% for x,key in i.permissions %}
							<div class="small-12 medium-1 columns end">
								<input type="checkbox" name="permission" class="permission" value="{{ x }}" {{ key }} {{ disabled_chef }}>
								{{ x }}
							</div>
						{% endfor %}
					</div>
					
					
					<div class="row">
						<div class="small-12 medium-6">
							<div class="small-12 medium-10 columns">
								<label for="rang">Gérer le rang du membre</label>
								<input type="text" name="rang" value="{{ i.rang_faction }}">
							</div>
							<div class="small-12 medium-2 columns">
								<button class="coller">Valider</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	{% endif %}
	
	
</div>

{% include("js/faction/gestion_faction.html") %}
{% include("js/joueur.html") %}