<div class="ambassade">
	{% include("popup/ambassade/nav-ambassade.html")  %}
	
	
	{% for i in bataille.membres_faction %}
		<div class="row">
			<div class="small-12 medium-3 columns">
				<a href=""  class="player" player="{{ i.id_identite }}">{{ i.pseudo }}</a>
			</div>
			<div class="small-12 medium-3 columns">
				{{ i.rang_faction }}
			</div>
			<div class="small-12 medium-3 columns">
				{{ i.points }}
			</div>
			<div class="small-12 medium-3 columns">
				{% if bataille.id_identite_player == i.id_identite and bataille.permission_player != "chef" %}
					<a href="#" class="quitter-faction">Quitter la faction</a>
				{% endif %}
				{% if bataille.permission_player == "chef" %}
				
				{% endif %}
			</div>
		</div>
	{% endfor %}
</div>

{% include("js/faction/gestion_faction.html") %}
{% include("js/joueur.html") %}