<script>
	$(document).ready(function() {
		$("#creer-forum").submit(function(e) {
		    e.preventDefault();
            
            $.ajax({
                type:"POST",
                data: $(this).serialize(),
                url:"{{WEBROOT}}controller/modules/bataille/faction/creer_forum",
                success: function(data){
                    if (data == "ok") {
                        $.ajax({
                            type:"POST",
	                        data: "loaded_ajax=true",
                            url: "{{WEBROOT}}bataille/popup/ambassade/forum-faction",
                            success: function(data){
                                $("#popup-base #ajax .next-lvl").empty();
                                $("#popup-base #ajax .next-lvl").append(data);
                            }, error: function(){
                            }
                        });
                    }
                    else {
                        $("body").prepend(data);
                    }
                }
            });
		});

		$(".supprimer-forum").click(function(e) {
		    e.preventDefault();

			var id_forum = $(this).attr("id_forum");
			$(this).addClass("to-delete");

            $.ajax({
                type:"POST",
	            data: "id_forum="+id_forum,
                url: "{{WEBROOT}}controller/modules/bataille/faction/supprimer_forum",
                success: function(data){
                    $(".to-delete").parent().parent().fadeOut();
                    $(".to-delete").parent().parent().remove();
                }
            });
		});
	});
</script>