<script>
    $(document).ready(function() {
        $(".faction").click(function(e) {
            e.preventDefault();
            
            var faction = $(this).attr("id_faction");
            
            $.ajax({
                type:"POST",
                data: "loaded_ajax=true&id_faction="+faction+"&nom_batiment=ambassade",
                url:"{{WEBROOT}}bataille/popup/faction",
                success: function(data){
                    $("#popup-base #ajax").html(data);
                }, error: function(){
            
                }
            });
        });
    });
</script>