<div class="small-12 medium-12 large-8 columns">
    <div class="map-game show-for-large-up">
		{% for i in bataille.batiments %}
            <div class="un-batiment {{ i.construction }}" style="left:{{ i.posx }}px;top:{{ i.posy }}px;width:{{ i.width }}px;height:{{ i.height }}px;">
                <a href="#" class="open-popup" popup="popup-base" posy="{{ i.posx }}" posx="{{ i.posx }}" nom_batiment="{{i.nom_batiment}}" nom_batiment_sql="{{i.nom_batiment_sql }}">
                    <div>{{i.nom_batiment}} {{i.niveau}}</div>
                    
                    <img src="{{ MODULEWEBROOT }}bataille/app/views/images/{{ i.nom_batiment_sql }}.svg">
                </a>
            </div>
		{% endfor %}
        
        <div class="cases">
			{% for j in 0..((545/20)-1) %}
				{% for i in 0..((1164/20)-1) %}
                    <div class="case" id="case-{{i*20}}-{{j*20}}" style="left:{{i*20}}px;top:{{j*20}}px;"></div>
				{% endfor %}
			{% endfor %}
        </div>
    </div>
    <div class="row show-for-medium-down small-collapse">
		{% for i in bataille.batiments %}
            <div class="left un-batiment {{ i.construction }}" style="width:{{ i.width }}px;height:{{ i.height }}px;">
                <a href="#" class="open-popup" popup="popup-base" posy="{{ i.posx }}" posx="{{ i.posx }}" nom_batiment="{{i.nom_batiment}}" nom_batiment_sql="{{i.nom_batiment_sql }}">
                    <div>{{i.nom_batiment}} {{i.niveau}}</div>
                    
                    <img src="{{ MODULEWEBROOT }}bataille/app/views/images/{{ i.nom_batiment_sql }}.svg">
                </a>
            </div>
			{#<div class="espacement"></div>#}
		{% endfor %}
    </div>
</div>

{{ include("js/map-game.html") }}