<script src="{{MODULEWEBROOT}}bataille/app/views/js/jquery.plugin.min.js"></script>
<script src="{{MODULEWEBROOT}}bataille/app/views/js/jquery.countdown.js"></script>

<div class="small-2 columns">
	{% if bataille.nom_batiment_construction != "" %}
        <div class="row side-bar">
            <h3>Construction en cours</h3>
			{{bataille.nom_batiment_construction}}<br>
            
            <div id="defaultCountdown"></div>
			
			{{ include("js/batiment/construire_batiment.html") }}
        </div>
        
        <div class="espacement"></div>
	{% endif %}
    
    <div class="row side-bar">
        <a href="#" id="afficher-grille">Afficher la grille</a>
        
        <div class="liste-batiments">
			{% for i in bataille.batiments_construire %}
                <div class="un-batiment draggable" style="width:{{ i.width }}px;height:{{ i.height }}px;">
                    <a href="#" id="{{i.nom_batiment_sql }}" class="open-popup" popup="popup-base" taille="{{i.nom_batiment_sql}}-120-60"  nom_batiment="{{i.nom_batiment}}" nom_batiment_sql="{{i.nom_batiment_sql }}">
                        <div>{{i.nom_batiment}} {{i.niveau}}</div>
                        
                        <img src="{{ MODULEWEBROOT }}bataille/app/views/images/{{ i.nom_batiment_sql }}.svg">
                    </a>
                </div>
			{% endfor %}
        </div>
    </div>
</div>
<div class="small-8 columns">
    <div class="map-game">
		{% for i in bataille.batiments %}
            <div class="un-batiment {{ i.construction }}" style="left:{{ i.posx }}px;top:{{ i.posy }}px;width:{{ i.width }}px;height:{{ i.height }}px;">
                <a href="#" class="open-popup" popup="popup-base" posy="{{ i.posx }}" posx="{{ i.posx }}" nom_batiment="{{i.nom_batiment}}" nom_batiment_sql="{{i.nom_batiment_sql }}">
                    <div>{{i.nom_batiment}} {{i.niveau}}</div>
                    
                    <img src="{{ MODULEWEBROOT }}bataille/app/views/images/{{ i.nom_batiment_sql }}.svg">
                </a>
            </div>
		{% endfor %}
        
        <div class="cases">
			{% for j in 0..((545/20)-1) %}
				{% for i in 0..((1164/20)-1) %}
                    <div class="case" id="case-{{i*20}}-{{j*20}}" style="left:{{i*20}}px;top:{{j*20}}px;"></div>
				{% endfor %}
			{% endfor %}
        </div>
    </div>
</div>
<div class="small-2 columns">
	{% if bataille.recrutement is iterable %}
        <div class="row">
            <div class="small-12 side-bar">
                <h3>Unités en recrutement</h3>
                <div>
					{% for i in bataille.recrutement %}
                        <div>
                            <div id="recrutement-{{ i.id_recrutement }}"></div>
                            <p>{{ i.nom }} {{ i.type }} {{ i.nombre }}</p>
							
							{{ include("js/caserne/recrutement_caserne.html") }}
                        </div>
					{% endfor %}
                </div>
            </div>
        </div>
        
        <div class="espacement"></div>
	{% endif %}
	
	{% if bataille.unites is iterable or bataille.groupe_unites is iterable %}
        <div class="row">
            <div class="small-12 side-bar">
                <h3>Unités</h3>
				{% for key,i in bataille.unites %}
                    <h4>{{ key }}</h4>
					{% for j in i %}
                        <p>{{ j.nom }} {{ j.nombre }}</p>
					{% endfor %}
				{% endfor %}
	
	            {% if bataille.groupe_unites is iterable %}
		            <h3>Listes des groupes</h3>
		            {% for i in bataille.groupe_unites %}
			            <div class="small-12">
				            {{ i.nom_groue}}
				
				            {% for key,x in i.unites %}
					            <h6>{{ key }}</h6>
					            {% for j in x %}
						            <p>{{ j.nombre }} unités {{ j.nom }}</p>
					            {% endfor %}
				            {% endfor %}
			            </div>
			            <hr>
		            {% endfor %}
	            {% endif %}
            </div>
        </div>

		<div class="espacement"></div>
	{% endif %}

	{% if bataille.missions_cours is iterable %}
		<div class="row decompte-recherche">
			<div class="small-12 side-bar">
				<h3>Missions en cours</h3>
				<div>
					{% for i in bataille.missions_cours %}
						<div>
							<div id="missions-{{ i.id_missions_cours }}"></div>
							<p>{{ i.infos.nom_mission }}</p>

							{{ include("js/missions_cours.html") }}
						</div>
					{% endfor %}
				</div>

			</div>
		</div>

		<div class="espacement"></div>
	{% endif %}
	
	{% if bataille.recherche is iterable %}
        <div class="row decompte-recherche">
            <div class="small-12 side-bar">
                <h3>Recherche en cours</h3>
                <div>
                    <div>
                        <div id="decompte-recherche"></div>
                        <p>{{ bataille.recherche.recherche }} {{ bataille.recherche.type }}</p>
						
						{{ include("js/centre_recherche.html") }}
                    </div>
                </div>
            </div>
        </div>
        
        <div class="espacement decompte-recherche"></div>
	{% endif %}
    
    <div class="row">
		{% if bataille.marche_envoyer is iterable %}
            <div class="small-12 side-bar">
                <h3>Transport marchandises envoyées</h3>
				
				{% for i in bataille.marche_envoyer %}
                    <div>
                        <div id="transport-{{ i.id_marche_transport }}"></div>
						
						{% if (i.aller == 1) %}
                            <p>Sur l'aller à : {{ i.nom_base_dest }}</p>
						{% else %}
                            <p>Sur le retour de : {{ i.nom_base_dest }}</p>
						{% endif %}
						{{ include("js/transport_marche.html") }}
                    </div>
				{% endfor %}
            </div>
		{% endif %}
		
		{% if bataille.marche_recevoir is iterable %}
            <div class="small-12 side-bar">
                <h3>Transport marchandises à recevoir</h3>
				
				{% for i in bataille.marche_recevoir %}
                    <div>
                        <div id="transport-{{ i.id_marche_transport }}"></div>
						
						{% if (i.aller == 1) %}
                            <p>qui arrive de : {{ i.nom_base_dest }}</p>
						{% endif %}
						{{ include("js/transport_marche.html") }}
                    </div>
				{% endfor %}
            </div>
		{% endif %}
    </div>
</div>

{{ include("js/map-game.html") }}
<script src="{{LIBSWEBROOT}}popup/js/popup.js"></script>